In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Set the path to the 'data' folder
folder_path = './data/dataset'

# List all CSV files in the folder
all_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Create an empty list to store DataFrames
df_list = []

# Loop through the CSV files and append them to the list
for file in all_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    df_list.append(df)

# Concatenate all DataFrames
final_df = pd.concat(df_list, ignore_index=True)

In [3]:
final_df['filename'].nunique()

17733

In [3]:
final_df

,filename,width,height,class,xmin,ymin,xmax,ymax
0,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,1380,1904,1522,2014
1,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,1809,1625,1958,1759
2,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,2400,1571,2532,1727
3,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,3935,1772,4100,1891
4,00010041af654d0b8e1e16c824fa9867,1360,2048,UH60,835,526,1233,741
...,...,...,...,...,...,...,...,...
30954,ffec16860f43fa96b27ff39bac99709b,1536,2048,C130,553,833,757,906
30955,fffb908c9824dc0da884c43cfe0312b8,6720,4480,EF2000,514,1302,6447,3206
30956,fffb908c9824dc0da884c43cfe0312b8,6720,4480,EF2000,0,1746,2698,3061
30957,fffd70f851b78035454c0a9367820ca3,1500,1000,B2,240,55,988,944
30958,ffff0595d9b782e9cd3c537529bf6027,1200,800,Su57,322,54,821,742

In [4]:
final_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,1380,1904,1522,2014
1,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,1809,1625,1958,1759
2,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,2400,1571,2532,1727
3,0000e97ea2d086d6759b19b288a8a72c,4928,3264,Mi28,3935,1772,4100,1891
4,00010041af654d0b8e1e16c824fa9867,1360,2048,UH60,835,526,1233,741

In [4]:
final_df['class'].nunique()

73

In [10]:
agg_df = final_df.groupby('class',as_index=False)['filename'].agg('count').rename(columns={'filename':'count'})
agg_df['tot'] = len(final_df)
agg_df['pct'] = agg_df['count']/agg_df['tot']
agg_df = agg_df.drop(columns=['tot']).sort_values('pct',ascending=False).reset_index(drop=True)
agg_df.head(50)

         class  count       pct
0          F16   1674  0.054072
1          F18   1559  0.050357
2          F15   1434  0.046319
3          F35   1294  0.041797
4         C130   1277  0.041248
5          V22    825  0.026648
6           C2    811  0.026196
7       EF2000    735  0.023741
8          J20    703  0.022707
9          A10    688  0.022223
10          F4    668  0.021577
11      Rafale    656  0.021189
12         C17    652  0.021060
13         J10    646  0.020866
14         F22    642  0.020737
15          B1    626  0.020220
16         US2    617  0.019930
17       JAS39    563  0.018185
18         B52    550  0.017765
19         F14    504  0.016280
20          B2    502  0.016215
21          P3    463  0.014955
22       A400M    458  0.014794
23        Su34    452  0.014600
24     Tornado    451  0.014568
25       Mig31    450  0.014535
26          E2    448  0.014471
27  Mirage2000    440  0.014212
28        AV8B    432  0.013954
29        Su24    419  0.013534
30         TB2    402  0.012985
31          C5    382  0.012339
32          H6    382  0.012339
33      Vulcan    374  0.012080
34       Tu160    368  0.011887
35        Su25    362  0.011693
36         MQ9    357  0.011531
37        F117    355  0.011467
38        Su57    354  0.011434
39        AH64    346  0.011176
40        Tu95    343  0.011079
41       KC135    339  0.010950
42       Tu22M    331  0.010692
43          U2    307  0.009916
44         RQ4    295  0.009529
45       Be200    280  0.009044
46         JH7    267  0.008624
47        SR71    265  0.008560
48       AG600    258  0.008334
49        CH47    202  0.006525